[submodule "Catch2"]
	path = libs/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "SDL_image"]
	path = libs/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = libs/SDL2
[submodule "libs/Box2D"]
	path = libs/Box2D
	url = https://github.com/erincatto/box2d.git
[submodule "libs/glad"]
	path = libs/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
